<html lang="en">

<head>
    <title>{{title}}</title>
    {{> header}}
    <style>
        .tag_fields {
            height: 150px;
            overflow-y: scroll;
            scrollbar-color: rgb(78, 140, 191);
            scrollbar-width: thin;
        }
    </style>
</head>

<body>
    {{> sidebars}}
    <div class="content-wrapper">
        <div class="body_content">
            <div class="common_field_sec">
                <div class="common_sec_title">
                    <h2>{{page_title}}</h2>
                </div>

                <div class="add_form">
                    <div class="field_inner_sec">

                        <div class="floating-label left_fld">
                            <h3 style="display: inline;"> Name : </h3>
                            <h4 style="display: inline; vertical-align: bottom;color: gray;"> {{user.name}}</h4>
                        </div>

                        <div class="claerfix"></div>

                        <div class="floating-label left_fld">
                            <h3 style="display: inline;"> Email :</h3>
                            <h4 style="display: inline; vertical-align: bottom;color: gray;">{{user.email}}</h4>
                        </div>

                        <div class="claerfix"></div>

                        <div class="floating-label left_fld">
                            <h3 style="display: inline;"> Role :</h3>
                            <h4 style="display: inline; vertical-align: bottom;color: gray;">Admin</h4>
                        </div>

                        <div class="claerfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END -->
    {{> footer}}
    <!-- <script src="/js/admin/index.js"></script> -->
</body>

</html>