<html lang="en">
    <head>
        <title>{{title}}</title>
        {{> header}}
    </head>
    <body>
        {{> sidebars}}
        <div class="content-wrapper">
            <div class="body_content">
                <div class="common_field_sec common_view">
                    <div class="common_sec_title with_rt_btn"><h2>Not Found</h2><a href="/dashboard" class="btn">Dashboard</a></div>
                    <form>
                        <div class="field_inner_sec">

                            <div class="profile_dtl_sec common_dtl_sec">

                                <div class="view_left_sc">
                                    <h4 class="cmn_title">Page Not Found</h4>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!-- END -->
        {{> footer}}
    </body>	
</html>