<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/> -->

<!-- CSS LIBRARY -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/icofont/css/icofont.css">
<link rel="stylesheet" type="text/css" href="/themify-icons/themify-icons.css">

<!-- MAIN STYLE -->
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/responsive.css">

<!--sweetalert2-->
<link rel="stylesheet" type="text/css" href="/plugins/sweetalert2/sweetalert2.min.css">
