<!-- header  -->
<header>
    <div class=" main_header">
        <div class="search_fld">
            <div class="maobile_menu">
                <svg class="ham ham6" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">
                    <path class="line top"
                        d="m 30,33 h 40 c 13.100415,0 14.380204,31.80258 6.899646,33.421777 -24.612039,5.327373 9.016154,-52.337577 -12.75751,-30.563913 l -28.284272,28.284272" />
                    <path class="line middle"
                        d="m 70,50 c 0,0 -32.213436,0 -40,0 -7.786564,0 -6.428571,-4.640244 -6.428571,-8.571429 0,-5.895471 6.073743,-11.783399 12.286435,-5.570707 6.212692,6.212692 28.284272,28.284272 28.284272,28.284272" />
                    <path class="line bottom"
                        d="m 69.575405,67.073826 h -40 c -13.100415,0 -14.380204,-31.80258 -6.899646,-33.421777 24.612039,-5.327373 -9.016154,52.337577 12.75751,30.563913 l 28.284272,-28.284272" />
                </svg>
            </div>
        </div>

        <div class="admin_dtl">
            <div class="admin_profile">
                <aside class="admin_img">
                    <a href="/admin"><img title="profile" src="/images/profile.png"></a>
                </aside>
                <a href="/admin">
                    <h4 title="profile">Admin</h4>
                </a>
            </div>
            <div class="log_out">
                <a href="/logout" data-toggle="tooltip" data-placement="bottom" title="Log Out!"><img
                        src="/images/logout.png" alt="log out"></a>
            </div>
        </div>
    </div>
</header>

<!-- Menu sidebar  -->

<div class="side_nav_sec" role="navigation">
    <div class="logo_sec">
        <a href="/dashboard">
            <h3 style="color: limegreen;">Greenpill <strong style="color: red">Live</strong></h3>
        </a>
    </div>
    <div class="navbar-default sidebar">

        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="parent_mnu">
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li class=" parent_mnu">
                    <a href="#" class="parent">Users <span class="ti-angle-down"></span></a>
                    <ul class="nav nav-second-level">
                        <!-- <li>
                            <a href="/users/add">User Add</a>
                        </li> -->
                        <li>
                            <a href="/user-list">User List</a>
                        </li>
                        <!-- <li>
                            <a href="/register">Add a backend admin</a>
                        </li> -->
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li class=" parent_mnu">
                    <a href="#" class="parent">Trending<span class="ti-angle-down"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/whatsnew/add">Add a Idea</a>
                        </li>
                        <li>
                            <a href="/whatsnew/list">Trending List</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>


                <li class=" parent_mnu">
                    <a href="#" class="parent">Products <span class="ti-angle-down"></span></a>
                    <ul class="nav nav-second-level">
                        <!-- <li>
                            <a href="/products/add">Add a product</a>
                        </li> -->
                        <li>
                            <a href="/products">Product List</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <!-- <li class=" parent_mnu">
                    <a href="#" class="parent">Product Subcategory <span class="ti-angle-down"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/productSubCategory/add">Add a sub category</a>
                        </li>
                        <li>
                            <a href="/productSubCategory">Product subcategory list</a>
                        </li>
                    </ul> -->
                <!-- /.nav-second-level -->
                <!-- </li> -->
                <li class=" parent_mnu">
                    <a href="#" class="parent">Projects <span class="ti-angle-down"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/projects/add">Add a project</a>
                        </li>
                        <li>
                            <a href="/projects">Project List</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li class=" parent_mnu">
                    <a href="#" class="parent">News and Innovation<span class="ti-angle-down"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/news/add">Add a news article</a>
                        </li>
                        <li>
                            <a href="/news">News List</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li class=" parent_mnu">
                    <a href="#" class="parent">Downloads<span class="ti-angle-down"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/resources/add">Add a Download</a>
                        </li>
                        <li>
                            <a href="/resources-list">Downloads List</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li class=" parent_mnu">
                    <a href="#" class="parent">Video Gallery<span class="ti-angle-down"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/Video/add">Add a Video</a>
                        </li>
                        <li>
                            <a href="/video/list">Video List</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>


                <li class=" parent_mnu">
                    <a href="/notification-list" class="parent">Notifications<span class="ti-angle-down"></span></a>
                    <!-- <ul class="nav nav-second-level">
                        <li>
                            <a href="/notification/add">Add a Notification</a>
                        </li>
                        <li>
                            <a href="/notification-list">Notifications List</a>
                        </li>
                    </ul> -->
                    <!-- /.nav-second-level -->
                </li>

                <li class=" parent_mnu">
                    <a href="#" class="parent">Services<span class="ti-angle-down"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/servicestaff-list">Service Staff</a>
                        </li>
                    </ul>
                </li>
                <li class=" parent_mnu">
                    <a href="/tickets" class="parent">Ticket<span class="ti-angle-down"></span></a>
                    <!-- <ul class="nav nav-second-level">
                        <li>
                            <a href="/servicestaff-list">Service Staff</a>
                        </li>
                    </ul> -->
                </li>

                <li class=" parent_mnu">
                    <a href="/inquiry-list" class="parent">New Inquiry</a>
                </li>

                <li class=" parent_mnu">
                    <a href="/rating-list" class="parent">Ratings</a>
                </li>

                <li class=" parent_mnu">
                    <a href="/app-update" class="parent">App Update</a>
                </li>

                <li class=" parent_mnu">
                    <a href="/partnerp-list" class="parent">Partner Program</a>
                </li>

                <li class=" parent_mnu">
                    <a href="#" class="parent">Mobile Dashboard<span class="ti-angle-down"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/mobiledashboard">Main Dashboard</a>
                        </li>
                        <li>
                            <a href="/mobiledashboard/subui">Sub Dashboard</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <!-- <li class=" parent_mnu">
                    <a href="#" class="parent">Menu Highlight<span class="ti-angle-down"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/menu_highlight/add">Add</a>
                        </li>
                        <li>
                            <a href="/menu_highlight/index">Highlight List</a>
                        </li>
                    </ul>
                </li>
                <li class=" parent_mnu">
                    <a href="/deal-types" class="parent">Deal Types</a>
                </li>
                <li class=" parent_mnu">
                    <a href="#" class="parent">Deals <span class="ti-angle-down"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/deals/add">Deal Add</a>
                        </li>
                        <li>
                            <a href="/deals">Deals List</a>
                        </li>
                    </ul> -->
                <!-- /.nav-second-level -->
                <!-- </li>
                <li class=" parent_mnu">
                    <a href="#" class="parent">Preferences <span class="ti-angle-down"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/preferences/add">Preferences Add</a>
                        </li>
                        <li>
                            <a href="/preferences">Preferences List</a>
                        </li>
                    </ul> -->
                <!-- /.nav-second-level -->
                <!-- </li>
                <li class=" parent_mnu">
                    <a href="#" class="parent">Manage Pages <span class="ti-angle-down"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/terms-and-conditions">Terms and Conditions</a>
                        </li>
                        <li>
                            <a href="/privacy-and-policy">Privacy and Policy</a>
                        </li>
                    </ul> -->
                <!-- /.nav-second-level -->
                <!-- </li> -->


                <!-- <li class=" parent_mnu">
                    <a href="#" class="parent">Trash <span class="ti-angle-down"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Products</a>
                        </li>
                        <li>
                            <a href="#">Projects</a>
                        </li>
                        <li>
                            <a href="#">Notifications</a>
                        </li>
                        <li>
                            <a href="#">News</a>
                        </li>
                        <li>
                            <a href="/trash/menu-item-types">Menu Item Types</a>
                        </li>
                    </ul>
                    nav-second-level
                </li> -->

                <!-- <li class=" parent_mnu">
                    <a href="#" class="parent">Settings</a>
                </li> -->


            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <div class="additional_nav">
        <ul class="">
            <!--<li><a href="/settings">settings</a><li>-->
            <li><a href="/logout">logout</a>
            <li>
        </ul>
    </div>
</div>
<div style="display: none;" class="page_loader"><span><img src="/images/ajax-loader.gif" alt="loader"></span></div>
