<html lang="en">

<head>
    <title>{{title}}</title>
    {{> header}}
    <style>
        .tag_fields {
            height: 150px;
            overflow-y: scroll;
            scrollbar-color: rgb(78, 140, 191);
            scrollbar-width: thin;
        }
    </style>
</head>

<body>
    {{> sidebars}}
    <div class="content-wrapper">
        <div class="body_content">
            <div class="common_field_sec">
                <div class="common_sec_title">
                    <h2>{{page_title}}</h2>
                </div>

                <form action="javascript:void(0);" class="edit_form" data-id={{project.id}} enctype="multipart/form-data">
                    <div class="field_inner_sec">

                        <div class="floating-label left_fld">
                            <label> Title <span class="required">*</span></label>
                            <input class="floating-input" id="title" value="{{project.title}}" name="project_title" type="text">
                        </div>

                        <div class="claerfix"></div>
                        
                        <div class="floating-label left_fld">
                            <label> Long Description <span class="required">*</span></label>
                            <input class="floating-input" id="long_description" value="{{project.long_description}}" name="long_description" type="text">
                        </div>

                        <div class="claerfix"></div>
                        
                        <div class="floating-label left_fld">
                            <label> Short Description <span class="required">*</span></label>
                            <input class="floating-input" id="short_description" value="{{project.short_description}}" name="short_description" type="text">
                        </div>

                        <div class="claerfix"></div>

                        <div class="floating-label left_fld">
                            <label>Choose a product<span class="required">*</span></label>
                            <select id="selected" class="floating-select" name="product_id">
                                    <option value="">--Choose--</option>
                                    {{#each products}}
                                    <option value="{{this.id}}">{{this.title}}</option>
                                    {{/each}}
                            </select>
                        </div>

                        <div class="claerfix"></div>

                        <h4>Add a project image</h4>
                        <div class="floating-label right_fld browse2">
                            <label>
                                <input type="file" accept="image/jpeg, image/png" name="project_image"  onchange="readURL(this);" />
                                <img id="blah" src="{{project.image_url}}" alt="your image" />
                            </label>
                        </div>
                        </div>


                    <div class="form_submit_sec">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </form>        
                 </div>
            </form>
        </div>
    </div>
</div>
<!-- END -->
{{> footer}}
<script>
    $('#selected option[value={{project.productRef}}]').attr("selected", "selected");
</script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<script src="/js/projects/edit.js"></script>
</body>

</html>