<html lang="en">

<head>
    <title>{{title}}</title>
    {{> header}}
    <style>
        .tag_fields {
            height: 150px;
            overflow-y: scroll;
            scrollbar-color: rgb(78, 140, 191);
            scrollbar-width: thin;
        }
    </style>
</head>

<body>
    {{> sidebars}}
    <div class="content-wrapper">
        <div class="body_content">
            <div class="common_field_sec">
                <div class="common_sec_title">
                    <h2>{{page_title}}</h2>
                </div>

                <form action="javascript:void(0);" class="add_form" enctype="multipart/form-data">
                    <div class="field_inner_sec">

                        <div class="floating-label left_fld">
                            <label> Title <span class="required">*</span></label>
                            <input class="floating-input" id="title" name="title" type="text">
                        </div>

                        <div class="claerfix"></div>

                        <div class="floating-label left_fld">
                            <label> Category <span class="required">*</span></label>
                            <input class="floating-input" id="category" name="category" type="text">
                        </div>

                        <div class="claerfix"></div>

                        
                        <div class="floating-label left_fld">
                            <label> Description <span class="required">*</span></label>
                            <input class="floating-input" id="description" name="description" type="text">
                        </div>

                        <div class="claerfix"></div>

                        <div class="floating-label left_fld">
                            <label>Choose a product<span class="required">*</span></label>
                            <select class="floating-select" name="int_user_id">
                                    <option value="">--Choose--</option>
                                    {{#each products}}
                                    <option value="{{this.id}}">{{this.title}}</option>
                                    {{/each}}
                            </select>
                        </div>

                        <div class="claerfix"></div>

                        <div class="floating-label left_fld">
                            <label> Source Link <span class="required">*</span></label>
                            <input class="floating-input" id="source_link" name="source_link" type="text">
                        </div>

                        <div class="claerfix"></div>

                        <div class="floating-label left_fld">
                            <label> Youtube URL <span class="required">*</span></label>
                            <input class="floating-input" id="youtube_url" name="youtube_url" type="text">
                        </div>

                        <div class="claerfix"></div>

                        <h4>Add a news image</h4>
                        <div class="floating-label right_fld browse2">
                            <label>
                                <input class="" type="file" accept='image/jpeg, image/png' name="news_image"> <img src="/images/car.png">
                            </label>
                        </div>
                        </div>


                    <div class="form_submit_sec">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </form>        
                 </div>
            </form>
        </div>
    </div>
</div>
<!-- END -->
{{> footer}}
<script src="/js/news/add.js"></script>
</body>

</html>