<html lang="en">

<head>
    <title>{{title}}</title>
    {{> header}}
    <style>
        .tag_fields {
            height: 150px;
            overflow-y: scroll;
            scrollbar-color: rgb(78, 140, 191);
            scrollbar-width: thin;
        }
    </style>
</head>

<body>
    {{> sidebars}}
    <div class="content-wrapper">
        <div class="body_content">
            <div class="common_field_sec">
                <div class="common_sec_title">
                    <h2>{{page_title}}</h2>
                </div>

                <form action="javascript:void(0);" class="edit_form" data-id={{news.id}} enctype="multipart/form-data">
                    <div class="field_inner_sec">

                        <div class="floating-label left_fld">
                            <label> Title <span class="required">*</span></label>
                            <input class="floating-input" id="title" value="{{news.title}}" name="product_title" type="text">
                        </div>

                        <div class="claerfix"></div>
                        
                        <div class="floating-label left_fld">
                            <label> Category <span class="required">*</span></label>
                            <input class="floating-input" id="product_category" value="{{news.category}}" name="product_category" type="text">
                        </div>

                        <div class="claerfix"></div>
                        
                        <div class="floating-label left_fld">
                            <label>Long Description <span class="required">*</span></label>
                            <input class="floating-input" id="long_description" value="{{news.longDescription}}" name="long_description" type="text">
                        </div>

                        <div class="claerfix"></div>

                        <div class="floating-label left_fld">
                            <label>Short Description <span class="required">*</span></label>
                            <input class="floating-input" id="short_description" value="{{news.shortDescription}}" name="short_description" type="text">
                        </div>

                        <div class="claerfix"></div>

                        <div class="floating-label left_fld">
                            <label>PDF URL <span class="required">*</span></label>
                            <input class="floating-input" id="pdf_url" value="{{news.pdfUrl}}" name="pdf_url" type="text">
                        </div>

                        <div class="claerfix"></div>

                        <div class="floating-label left_fld">
                            <label>WEB URL<span class="required">*</span></label>
                            <input class="floating-input" id="short_description" value="{{news.webUrl}}" name="web_url" type="text">
                        </div>

                        <div class="claerfix"></div>

                        <h4>Add a news image</h4>
                        <div class="floating-label right_fld browse2">
                            <label>
                                <input class="" type="file" accept='image/jpeg, image/png' name="news_image"> <img src="{{news.image_url}}">
                            </label>
                        </div>
                        </div>


                    <div class="form_submit_sec">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </form>        
                 </div>
            </form>
        </div>
    </div>
</div>
<!-- END -->
{{> footer}}
<script src="/js/news/edit.js"></script>
</body>

</html>